<a href="https://colab.research.google.com/github/jackie5588/test1/blob/master/ReadWebCsv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
url="https://raw.githubusercontent.com/jackie5588/test1/master/.github/workflows/hw2_data.csv"
c=pd.read_csv(url,header=None)
c

               0             1             2             3
0             x1            x2            x3             y
1    1.506505305   3.247702341   1.066148283  -1.573311634
2    1.809700363   3.078848315  -6.119119462  -119.5545854
3    1.955238469     3.9734889  -3.511715855   -28.4400487
4    1.765312469   2.901287887   4.682521992     46.710987
..           ...           ...           ...           ...
896  2.051109477   1.698672008  -1.030524248  -5.164360989
897  1.675749375   3.422379981   -5.73666184  -97.58937127
898  1.715093234   7.119105092   -2.25106698  -9.240529532
899  2.048458577   1.667502347   1.796679005  -4.429269575
900  1.847130858  -2.460737511   0.884537054  -6.045254871

[901 rows x 4 columns]

In [4]:
import pandas as pd
import io
import requests
url="https://raw.github.com/jackie5588/test1/master/.github/workflows/hw2_data.csv"
s=requests.get(url).content
data=pd.read_csv(io.StringIO(s.decode('utf-8')),header=None)
data

               0             1             2             3
0             x1            x2            x3             y
1    1.506505305   3.247702341   1.066148283  -1.573311634
2    1.809700363   3.078848315  -6.119119462  -119.5545854
3    1.955238469     3.9734889  -3.511715855   -28.4400487
4    1.765312469   2.901287887   4.682521992     46.710987
..           ...           ...           ...           ...
896  2.051109477   1.698672008  -1.030524248  -5.164360989
897  1.675749375   3.422379981   -5.73666184  -97.58937127
898  1.715093234   7.119105092   -2.25106698  -9.240529532
899  2.048458577   1.667502347   1.796679005  -4.429269575
900  1.847130858  -2.460737511   0.884537054  -6.045254871

[901 rows x 4 columns]